## Field Notebook: Phone Records

<img src="http://dcewboipbvgi2.cloudfront.net/sites/default/files/styles/article_hero_image/public/articles/07112013_Wiretapping_article.jpg?itok=j4N06Zo1" width="400px"/>

Information about phone history of the leading suspects (politicians) was found by The Agency, containing id (name), type, longitude, latitude and time of the call/text.

Our field agents advise taking a look at where the suspects were around the time of the murder. Do all of them have alibies?

<a href="The Q Branch.ipynb#mapping"> Need help with mapping? </a>

<a href="The Q Branch.ipynb#filtering"> Need help with filtering? </a>

In [2]:
import pandas as pd
import plotly.express as px
MAPBOX_TOKEN = 'pk.eyJ1IjoiY3NtaXRoZHMiLCJhIjoiY2sydHR2Z3p0MG9uejNucWNzNnl0NmFjbSJ9.M37tPcq3O5s41bpXW0dDGw'
px.set_mapbox_access_token(MAPBOX_TOKEN)

In [3]:
phone = pd.read_csv('../data/PhoneData.csv', delimiter='|')
phone.head()

               id  type       lon        lat                 time
0   Ancilla Tilia  call  4.875865  52.386179  2017-03-14 18:57:00
1  Kees vd Staaij  call  4.872918  52.385450  2017-03-14 18:57:00
2        Jan Roos  call  4.873239  52.385086  2017-03-14 19:02:00
3  Sylvana Simons  call  4.875326  52.386176  2017-03-14 19:02:00
4   Peter Plasman  call  4.871977  52.387635  2017-03-14 19:02:00